
form {
/* margin:  0 250px; */
width: 60vw;
display: block;
margin: 0 auto;
}

.inputs {
   width: 100%;
   margin-bottom: 15px;
}

.button {
   margin-top: 55px;
   width: 600px;
   background-color: darkseagreen;
   

}